{#
/**
 * @file
 * Default theme implementation for fallback messages.
 *
 * Instead of overriding the theming for all fallback mails, you can also just
 * override theming for specific messages (e.g., update--status-notify) or
 * all messages from a given module (e.g., update) and locales
 * using @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a fallback email:
 * - postoffice-compat-email-fallback--update--status-notify--en.html.twig
 * - postoffice-compat-email-fallback--update--status-notify.html.twig
 * - postoffice-compat-email-fallback--update--en.html.twig
 * - postoffice-compat-email-fallback--update.html.twig
 * - postoffice-compat-email-fallback--en.html.twig
 * - postoffice-compat-email-fallback.html.twig
 *
 * Available variables:
 * - body: The HTML body for this message.
 * - email: The email object. The SiteEmailInterface determines what data is
 *     available to twig through this variable.
 * - langcode: The language code.
 *
 * @see \Drupal\postoffice\Email\SiteEmailInterface
 *
 * @ingroup themeable
 */
#}

{% embed 'postoffice-compat-email-body-notification.html.twig' %}

  {% block content %}
    {{ body }}
  {% endblock %}

{% endembed %}
