{#
/**
 * @file
 * Template for contact email body.
 *
 * Derived from commerce-order-receipt.html.twig
 *
 * Available blocks:
 * - intro: The contact intro.
 * - message: The message body.
 *
 * @ingroup themeable
 */
#}
<table role="presentation" style="margin: 15px auto 0 auto; max-width: 768px; font-family: arial,sans-serif">
  <tbody>
  <tr>
    <td>
      <table role="presentation" style="margin-left: auto; margin-right: auto; max-width: 768px; text-align: center;">
        <tbody>
        <tr>
          <td>
            <a href="{{ url('<front>') }}" style="color: #0e69be; text-decoration: none; font-weight: bold; margin-top: 15px;">{{ email.siteName }}</a>
          </td>
        </tr>
        </tbody>
      </table>
      <table role="presentation" style="text-align: left; min-width: 450px; margin: 5px auto 0 auto; border: 1px solid #cccccc; border-radius: 5px; padding: 40px 30px 30px 30px;">
        <tbody>
          <tr>
            <td style="padding-bottom: 15px; border-bottom: 1px solid #cccccc">
              {% block intro %}
              {% endblock %}
            </td>
          </tr>
          <tr>
            <td style="padding-top:15px;">
              {% block message %}
              {% endblock %}
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
