{#
/**
 * @file
 * Default theme implementation for greetings email.
 *
 * Returns HTML for the greetings email.
 *
 * Available variables:
 * - subject: The email subject
 * - name: The name of the person.
 * @ingroup themeable
 */
#}

{{ attach_library('postoffice_form_example/email-greetings') }}
<html>
  <head>
    <title>{{ subject }}</title>
  </head>
  <body>
    {{ 'Hello <span class="name">@name</span>.'|t({'@name': name}) }}
  </body>
</html>
